.container {
  height: calc(100lvh - 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2px;
  overflow-y: hidden; /* Hide vertical scrollbar */
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite alternate;
  border-radius: 16px;

  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  .body {
    border-radius: 12px;
    background: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    main {
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      h1 {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 8.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        background: linear-gradient(
          45deg,
          #f17c58,
          #e94584,
          #24aadb,
          #27dbb1,
          #ffdc18,
          #ff3706
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 200% auto;
        animation: gradient 16s linear infinite alternate;

        @media (max-width: 768px) {
          font-size: 6rem;
        }

        @keyframes gradient {
          0% {
            background-position: 0%;
          }
          100% {
            background-position: 100%;
          }
        }
      }
    }
    span {
      font-size: 1.5rem;
      font-weight: 600;
      color: gainsboro;
    }
  }
}
